@import url('https://cdnjs.cloudflare.com/ajax/libs/remixicon/4.5.0/remixicon.min.css');
@import url('https://cdn.jsdelivr.net/npm/remixicon@4.0.0/fonts/remixicon.css');

@tailwind base;
@tailwind components;
@tailwind utilities;
body { @apply font-sans; }

@keyframes blink {
  0%, 100% { opacity: 1; }
  50% { opacity: 0.2; }
}

.animate-blink {
  animation: blink 1.5s infinite;
}