<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>WAV 파일 이상 탐지</title>
</head>
<body>
    <h2>WAV 파일 업로드</h2>
    <form method="post" enctype="multipart/form-data">
        <input type="file" name="files" accept=".wav" multiple>
        <button type="submit">예측 실행</button>
    </form>

    {% if result %}
        <h3>예측 결과</h3>
        <ul>
            <h3>결과</h3>
            <ul>
                <li>예측 - 정상: {{ result['정상(예측)'] }}</li>
                <li>예측 - 이상: {{ result['이상(예측)'] }}</li>
                <li>실제 - 정상: {{ result['정상(실제)'] }}</li>
                <li>실제 - 이상: {{ result['이상(실제)'] }}</li>
                <li>전체: {{ result['전체'] }}개</li>
                <li>예측 정확도: {{ result['정확도'] }}</li>
            </ul>

        </ul>
    {% endif %}
</body>
</html>
